<html>
    <img class="logoImg" src="../images/sri_welcome_logo.png"></img>
    <link href="../css/login.css" rel="stylesheet" media="screen">
    <h1 class="weclome">Welcome!</h1>
    <div class="credBox" ng-controller="LoginCtrl" >
        <form>
            <fieldset>
                <p>Username: <input ng-model="userName" type="text" name="Usermame" /></p>
                <p>Password: <input ng-model="password" type="text" name="Password" /></p>
            </fieldset>
            <input class="button quit" type="button" ng-click="quit()"></input>
            <input class="button goon" type="button" ng-click="ok()"
                    ng-disabled="userName == ''"></input>
        </form>
    </div>
</html>