<div class="evalDiv" ng-controller="SRCCtrl">
    <link rel="stylesheet" href="../css/src_trials.css" media="screen">
     <div class="srcHeader">
         <span class="title">{{bookTitle}}</span>
         <span class="studentName">{{studentName}}</span>
     </div>
    <div class="question">
        {{questionText}}
    </div>
    <ul class="answers">
        <li><span ng-repeat="answer in answers"
              class="selected-{{$index==selectedIndex}}"
              ng-click="answerChosen($index)">{{answer}}
        </span></li>
    </ul>
    <div class="buttonArea">
        <input type="button" ng-click="nextButtonClicked()"
               class="goonButton" ng-disabled="selectedIndex == -1" />
        <input type="button" ng-click="exitButtonClicked()"
               class="exitButton" />
    </div>

</div>