<div class="evalDiv" ng-controller="MainCtrl" >
    <img src="images/sri_welcome_logo.png">
    <div class="passage">
        {{testItems[trialIndex].passage}}
    </div>
    <div class="question">
        {{questionText}}
    </div>
    <div class="answers">
        <span ng-repeat="answer in testItems[trialIndex].answers"
               class="selected-{{$index==selectedIndex}}"
               ng-click="answerChosen($index)">{{answer}}
        </span>
    </div>
    <input ng-click="goButtonClicked()" class="goonButton" ng-disabled="selectedIndex == -1" />


    <style type="text/css">

        html{
            font-family:Verdana;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body{
            background-color: #2c2c2c;
            /*background-image:url('/images/sri_welcome_lines.png');*/
            /*background-repeat:no-repeat;*/
            /*background-size: 100%;*/
        }

        input{
            cursor: pointer;
        }
        .evalDiv{

        }

        .goonButton{
            position: absolute;
            right: 80px;
            bottom:80px;
            width: 87px;
            height: 62px;
            border-width: 0;
            background: url('../images/next_button_md.png') no-repeat;
        }

        .goonButton:hover{
            position: absolute;
            right: 80px;
            bottom:80px;
            width: 87px;
            height: 62px;
            border-width: 0;
            background: url('../images/next_button_pressed_md.png') no-repeat;
        }

        .passage{
            color: navajowhite;
            width: 80%;
            padding: 50px;
        }

        .question{
            color: navajowhite;
            padding-left: 50px;
        }

        .answers{
            display: inline-block;
            color: navajowhite;
            padding: 50px;
            cursor: pointer;
            width: 100px;
        }

        .selected-true {
            border-radius: 5px;
            border-radius: 5px;
            padding: 10px;
            display: inline-block;
            background-color: green;
            color: #000000;
        }

        .selected-false {
            padding: 10px;
            display: inline-block;
            background-color: transparent;
        }

        .selected-false:hover {
            border-radius: 5px;
            border-radius: 5px;
            padding: 10px;
            display: inline-block;
            opacity: 0.8;
            background-color: #ffff00;
            color: #000000;
        }

    </style>
</div>
