<!DOCTYPE html>
<html lang="en" ng-app="LexileFrameWorkStudent">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexile Framework Student</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="PageController" style="padding: 10px 10px 10px 10px" >
<h2>{{studentName}}</h2>
<h4>{{schoolName}}</h4>
<div class="container" style="padding-top: 30px" >

    <div class="row">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#readingList"
                                      data-toggle="tab">Get Reading List</a></li>
                <li class=""><a href="#srcQuiz"
                                data-toggle="tab">Take a quiz</a></li>
                <li class=""><a href="#results"
                                data-toggle="tab">My results</a></li>
                <li class=""><a href="#interests"
                                data-toggle="tab">Choose Reading Interests</a></li>
                <li class=""><a href="#sriTest"
                                data-toggle="tab">Take the test</a></li>
            </ul>

            <!--READING LIST TAB-->
            <div class="tab-content">
                <div class="tab-pane active" ng-controller="ReadingListTab" id="readingList">
                    <p style="max-width: 25%">My Lexile: {{lexile}}</p>
                    <p>Next test date: {{nextTestDate}} </p>
                    <p>Welcome! You have read {{booksRead}} books, {{wordsRead}} words
                        and reviewed {{booksReviewed}} books</p>
                    <p>If you like <b ng-repeat="interest in interests">{{interest}} </b>
                        You might like these books:</p>
                    <span ng-repeat="book in books" class="bookRecItem">
                        <img class="cover" src="images/{{book.cover}}.jpg">
                        <div class="bookRecTextArea" >
                            <p class="titleLabel">{{book.title}}</p>
                            <p class="authorLabel">{{book.author}}</p>
                            <p class="descriptionLabel" >{{book.description}}</p>
                            <p class="lexLabel">Lexile: {{book.lexile}}</p>
                            <p class="interestLabel">{{book.interest}}</p>
                        </div>
                        <input class="btn-large" type="button"
                               value="Take Quiz!" ng-click="quizButtonClicked()">
                    </span>
                </div>

                <!--QUIZ TAB-->
                <div class="tab-pane" ng-controller="QuizTab" id="srcQuiz">
                   <div class="searchingForm">
                        <div class="span8">
                            <input type="text" class="search-query"
                                   placeholder="Title..." ng-model="title" />
                            <input type="text" class="search-query"
                                   placeholder="Author..." ng-model="author" />
                        </div>

                        <div class="span8" style="padding: 20px">
                           <p>Title: {{title}}</p>
                           <p>Author: {{author}}</p>
                        </div>

                        <div class="span4">
                            <div class="searchlist">
                                <ul>
                                   <li class="selected-{{isSelectedIndex($index)}}"
                                         ng-click="itemSelected($index)"
                                         ng-repeat="catagory in catagories">{{catagory}}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="checkboxes">
                                <ul>
                                    <li><input type="checkbox"
                                               ng-model="isQuizOnly"/>Search quizzes only</li>
                                    <li><input type="checkbox"
                                               ng-model="isInLibraryOnly"/>Search in library only</li>
                                    <li><input type="checkbox"
                                               ng-model="isInMyLexileOnly"/>Search in my Lexile range</li>
                                    </li>

                                </ul>
                            </div>
                        </div>


                        <div class="span2" style="padding: 40px 5px 5px 20px;">
                            <input type="button" class="btn-large"
                                   value="Search"
                                   ng-click="searchButtonClick()">
                        </div>
                   </div>

                   <div class="quizselectionDiv">

                       <span ng-repeat="book in books" class="bookRecItem">
                             <img class="cover" src="images/{{book.cover}}.jpg">
                             <div class="bookRecTextArea" >
                                <p class="titleLabel">{{book.title}}</p>
                                <p class="authorLabel">{{book.author}}</p>
                                <p class="descriptionLabel" >{{book.description}}</p>
                            </div>
                        <input class="btn-large" type="button"
                               value="Take Quiz!" ng-click="quizButtonClicked()">
                       </span>


                   </div>


                </div>

                <div class="tab-pane" id="results"><p>MY RESULTS</p></div>

                <div class="tab-pane" id="interests"><p>CHOOSE READING INTERESTS</p></div>

                <div class="tab-pane" id="sriTest"><p>TAKE A TEST</p></div>


            </div><!--end tab-content-->

        </div><!--end tabs-left-->
    </div><!--end row-->
</div><!--end container-->

<!-- the neccessary javascript -->
<script src="components/angular/angular.js"></script>
<script src="components/angular-resource/angular-resource.js"></script>
<script src="components/angular-cookies/angular-cookies.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>

<!--For tests-->
<script src="components/angular-mocks/angular-mocks.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
<style>


        /*Take a Quiz Tab*/

    .searchingForm{
        @extend .span9;
    }

    .quizselectionDiv{
    @extend .span9;
        /*starting out invisible*/
        /*display:none;*/
        /*opacity:0.0;*/
        /*filter:alpha(opacity=0);*/

        background-color: green;

    }


    .searchlist{
        overflow: hidden;
        width: 400px;
        float: left;
    }

    .searchlist li{
        min-width: 100px;
        max-width: 200px;
        border-radius: 5px;
        border-radius: 5px;
        display:block;
        padding: 10px;

    }

    .selected-true {
        background-color: green;
        color: #000000;
    }

    .selected-false {
        background-color: transparent;
    }

    .selected-false:hover {
        opacity: 0.8;
        background-color: #ffff00;
        color: #000000;
    }


    .checkboxes{
        float: left;
        padding 10px;
        ma
    }

    .checkboxes ul{
        padding:5px;
        float:left;
        margin: 0px;
    }

    .checkboxes li{
        list-style: none;
        padding: 10px;
    }





    /*Reading List Tab*/

    .bookRecItem{
        display: inline-block;
        margin-bottom: 10px;
        padding: 10px;
        background: cornflowerblue;
        border-radius: 5px;
        box-shadow: 5px 5px 1px #888888;
        width: 90%;
    }

    .bookRecItem .btn-large{
        visibility: hidden;
    }

    .bookRecItem:hover .btn-large{
       visibility: visible;
    }

    .bookRecTextArea{
        padding: 10px;
        width: 60%;
        height: 100%;
        float: left;
    }

    .titleLabel{
    }

    .authorLabel{
    }

    .cover{
        float: left;
        padding: 5px;
    }

    .descriptionLabel{
    }

    .btn-large{
       float: right;
    }

    .lexLabel{
    }

    .interestLabel{
    }




</style>
<script>
     var app = angular.module('LexileFrameWorkStudent',[]);

     app.controller('PageController', function($scope, sharedProperties){
             $scope.studentName = sharedProperties.getStudentName();
             $scope.schoolName =  sharedProperties.getSchoolName();
     })


     /**
      * Controller for Quiz Tab
      */
     app.controller('QuizTab', function($scope, sharedProperties){
            $scope.NUM_SELECTABLE_CATAGORIES = 3;
            $scope.title            = "";
            $scope.author           = "";
            $scope.isQuizOnly       = false;
            $scope.isInLibraryOnly  = false;
            $scope.isInMyLexileOnly = false;
            $scope.catagories       = sharedProperties.getCatagories();
            $scope.books            = [];

         $scope.selectedIndices = [];

         /**
          * Pushes selected index to array of selected indices,
          * if more than NUM_SELECTABLE_CATAGORIES
          * contained there, drops first
          * @param pIndex
          */
         $scope.itemSelected = function(pIndex){

             if($scope.selectedIndices.length >= $scope.NUM_SELECTABLE_CATAGORIES){
                 $scope.selectedIndices.shift();
             }
             $scope.selectedIndices.push(pIndex)
         }

         /**
          * Returns true if param index is in array of those selected
          * @param pIndex
          * @returns {boolean}
          */
         $scope.isSelectedIndex = function(pIndex){
             return ( $.inArray(pIndex, $scope.selectedIndices) != -1 );
         }


         /**
          * Search button click in Quiz Tab fades out our search form and replaces it
          * with the selection screen from where we'll be selecting a quiz
          */
         $scope.searchButtonClick = function(){
             $(".searchingForm").fadeTo('slow', 0, function() {
                 $(".quizselectionDiv").fadeTo('slow', 1, function() {
                     $scope.books = sharedProperties.getBooks();
                 });
             });

         }

         $scope.quizButtonClicked = function(){
             //do some stuff

         }


     })


     /**
      * Controller for Reading List Tab
      */
     app.controller('ReadingListTab',function($scope, sharedProperties){
        $scope.lexile = 350;
        $scope.nextTestDate = new Date("May 14, 2013").toDateString();
        $scope.booksRead = 3;
        $scope.wordsRead = 1200;
        $scope.booksReviewed = 4;

        $scope.interests = ["Animals","Ninjas","Travel"];

        $scope.quizButtonClicked = function(){
            //do some stuff

        }

        $scope.books = sharedProperties.getBooks();
     })







     /**
      * Service for sharing properties between controllers
      */
     app.service('sharedProperties', function() {
         var studentName = 'Jacoby Ellsbury';
         var schoolName = 'Fenway Elementary School';

         var books = [
             {
                 title:"Little House in the Big Woods",
                 author:"Wilder, Laura Ingalls",
                 description:"The book tells about the months the Ingalls " +
                         "family spent on the prairie of Kansas, around the town of " +
                         "Independence, Kansas.",
                 lexile:200,
                 cover:"little_house",
                 interest:"Animals"
             },
             {
                 title:"Snow Crash",
                 author:"Stephenson, Neal",
                 description:"Master swordsman Hiro Protagonist delivers pizzas, " +
                         "stumbles onto global mind control " +
                         "conspiracy, excellence ensues",
                 lexile:300,
                 cover:"snow_crash",
                 interest:"Ninjas",
             },
             {
                 title:"The Road",
                 author:"McCarthy, Cormac",
                 description:"Heartwarming tale of a father and son road trip.  ",
                 lexile:100,
                 cover:"the_road",
                 interest:"Travel",
             }
         ];

         var catagories  = [ "Action & Adventure",
             "Animals & Pets",
             "Famous People",
             "All Time Favorite Stories (All Time Favourite Stories)",
             "Celebrations","Friends, " +
                     "Family & Growing Up Food & Drink",
             "Around the World","In the Past",
             "Funny Stories",
             "Caring & Sharing",
             "Everything Else",
             "Music & Art",
             "Mystery",
             "Folktales & Legends",
             "Nature & the Earth",
             "How Things Work",
             "Science Fiction & Fantasy Space",
             "Fun & Games"
         ];

         return {
             getStudentName: function() {
                 return studentName;
             },
             getSchoolName: function() {
                 return schoolName;
             },
             getBooks: function() {
                 return books;
             },
             getCatagories: function() {
                 return catagories;
             }
         }
     });



</script>







</html>
