<!DOCTYPE html>
<html lang="en" ng-app="LexileFrameWorkStudent">
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Lexile Framework Student</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link id="pageStyle" href="css/lexile_large.css" rel="stylesheet">

    <script>
        function layoutHandler(){
            var styleLink = document.getElementById("pageStyle");
            if(window.innerWidth < 1000){
                styleLink.setAttribute("href", "css/lexile_mobile.css");
         //   } else if(window.innerWidth < 900){

            } else {
                styleLink.setAttribute("href", "css/lexile_large.css");
            }
        }
        window.onresize = layoutHandler;
        layoutHandler();
    </script>
    <!--media="screen and (min-width: 360px)"-->
</head>
<body ng-controller="PageController">
<div class="container">

    <div class="row">
        <div class="tabbable">
            <ul class="nav nav-pills">
                <li class="active"><a href="#readingList"
                                      data-toggle="tab">Get Reading List</a></li>
                <li class=""><a href="#srcQuiz"
                                data-toggle="tab">Take a quiz</a></li>
                <li class=""><a href="#results"
                                data-toggle="tab">My results</a></li>
                <li class=""><a href="#interests"
                                data-toggle="tab">Choose Reading Interests</a></li>
                <li class=""><a href="#sriTest"
                                data-toggle="tab">Take the test</a></li>
            </ul>

            <div class="tab-content">
                <!--READING LIST TAB-->
                <div class="tab-pane active" ng-controller="ReadingListTab" id="readingList">
                    <h3>Welcome {{student.firstName}}!</h3>
                    <div class="readingListInfo">
                        <div class="pleft">
                        <ul>
                            <li><p>My Lexile: {{lexile}}</p></li>
                            <li><p>Next test date: {{nextTestDate}} </p></li>
                        </ul>
                        </div>
                        <div class="pright">
                            <ul>
                                <li><p>You have read {{booksRead}} books</p></li>
                                <li><p>You've reviewed {{booksReviewed}} books</p></li>
                            </ul>
                        </div>
                    </div>
                    <p>If you like <b ng-repeat="interest in interests">{{interest}} </b>
                        You might like these books:</p>
                    <ul>
                        <li ng-repeat="book in books">
                            <span class="bookRecItem">
                                <img class="cover" ng-src="images/{{book.cover}}.jpg">
                                <div class="bookRecTextArea" >
                                    <ul>
                                        <li><b>{{book.title}} - Lexile: {{book.lexile}}</b></li>
                                        <li><b>{{book.author}}</b></li>
                                        <li><p>{{book.description}}</p></li>
                                        <li>
                                            <div>
                                                <p>{{book.interest}}</p>
                                                <input class="btn" type="button"
                                                       value="Take the Quiz"
                                                       ng-click="quizButtonClicked(book.title)"/>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </span>
                        </li>
                    </ul>
                </div>

                <!--QUIZ TAB-->
                <div class="tab-pane" ng-controller="QuizTab" id="srcQuiz">
                    <h5>Hi {{student.firstName}}!</h5>
                    <form class="form-search">
                        <div class="input-block-level">
                            <input type="text" class="span4 input-large"
                                   placeholder="Enter Book Title, Author or Keyword" ng-model="title">

                            </input>
                            <button type="submit" class="btn">Quick Search</button>
                        </div>
                    </form>
                   <div class="searchingForm-{{searchDivVisible}}">
                        <div class="span8 checkboxes" >
                            <input type="checkbox" class="checkbox"
                                   ng-model="isQuizOnly">Quizzes only</input>
                            <input type="checkbox" class="checkbox"
                                   ng-model="isInLibraryOnly"/>Library only</input>
                            <input type="checkbox" class="checkbox"
                                   ng-model="isInMyLexileOnly"/>In my Lexile range</input>
                        </div>
                        <span class="searchlist">
                           <h4>Select catagories</h4>
                           <div class="selected-{{isSelectedIndex($index)}}"
                                 ng-click="itemSelected($index)"
                                 ng-repeat="catagory in catagories">{{catagory}}</div>

                        </span>
                        <input type="button" class="btn-large"
                              value="Search"
                              ng-click="searchButtonClick()">
                   </div>

                   <div class="quizselectionDiv-{{quizDivVisible}}">
                       <span ng-repeat="book in books" class="bookRecItem">
                             <img class="cover" ng-src="images/{{book.cover}}.jpg">
                             <div class="bookRecTextArea" >
                                 <ul>
                                    <li><p>{{book.title}}</p></li>
                                    <li><p>{{book.author}}</p></li>
                                    <li><p>{{book.description}}</p></li>
                                 </ul>
                             </div>
                        <input class="btn-large" type="button"
                               value="Take Quiz!" ng-click="quizButtonClicked()">
                       </span>
                   </div>

                   <div class="resultsDiv-{{resultsDivVisible}}">
                       <span class="bookRecItem-narrow">
                             <img class="cover" ng-src="images/{{books[0].cover}}.jpg">
                           <ul>
                                <li><p>{{books[0].title}}</p></li>
                                <li><p>{{books[0].author}}</p></li>
                                <li><p>{{books[0].description}}</p></li>
                           </ul>
                       </span>
                       <p class="passedCheck">Passed?<input type="checkbox" ng-model="quizPassed"></p>
                       <div class="passedDiv" ng-hide="!quizPassed">
                           <ul>
                               <li><b>You Passed!</b></li>
                               <li>{{quizResults.numCorrect}} correct</li>
                               <li>{{percentCorrect()}}% correct</li>
                               <li>What did you think?</li>
                               <li><input type="button" value="Loved it!"
                                          class="btn"
                                          ng-click="reviewButtonClicked()"/></li>
                               <li><input type="button" value="Liked it"
                                          class="btn"
                                          ng-click="reviewButtonClicked()"/></li>
                               <li><input type="button" value="OK"
                                          class="btn"
                                          ng-click="reviewButtonClicked()"/></li>
                               <li><input type="button" value="Not great"
                                          class="btn"
                                          ng-click="reviewButtonClicked()"/></li>
                               <li><input type="button" value="Leave it"
                                          class="btn"
                                          ng-click="reviewButtonClicked()"/></li>
                               <li><input type="text" ng-model="books[0].comment"
                                          class="commentBox"
                                          placeholder="Comments..."></li>
                           </ul>
                       </div>
                       <div class="failedDiv" ng-hide="quizPassed">
                           <ul>
                               <li>Try again later!</li>
                               <li>{{quizResults.numCorrect}} correct</li>
                               <li>{{percentCorrect()}}% correct</li>
                               <li>{{quizResults.numQuestions}} total</li>
                               <li>{{quizResults.numAttempts}} attempt</li>
                           </ul>
                       </div>
                   </div>


                </div>

                <!--RESULTS TAB-->
                <div class="tab-pane" ng-controller="ResultsTab" id="results">
                    <div class="resultsHeader">
                       <h4>My Lexile: {{student.lexile}}</h4>
                       <h4>Books: {{student.books}}</h4>
                       <h4>Words: {{student.words}}</h4>
                       <input type="button" class="btn-mini" value="Print list">
                    </div>
                    <table class="resultsTable">

                       <tbody>
                           <tr ng-repeat="book in books" >
                               <td>{{book.title}}</td>
                               <td>{{book.author}}</td>
                               <td>{{book.lexile}}</td>
                               <td>{{book.date}}</td>
                               <td>{{book.score}}</td>
                               <td>{{book.passed}}</td>
                               <td>{{book.words}}</td>
                               <td>{{book.points}}</td>
                           </tr>
                       </tbody>
                   </table>
                </div>

                <!--INTERESTS TAB-->
                <div class="tab-pane" id="interests"><p>CHOOSE READING INTERESTS</p></div>

                <!--SRI TEST-->
                <div class="tab-pane" id="sriTest"><a href="assessment.html">TAKE A TEST</a></div>

            </div><!--end tab-content-->
        </div><!--end tabs-left-->
    </div><!--end row-->
</div><!--end container-->

    <!-- the neccessary javascript -->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>

    <!--For tests-->
    <script src="components/angular-mocks/angular-mocks.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!--<script src="js/jquery-1.7.1.js"></script>-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lexile.js"></script>
</body>
</html>
