<html ng-app>
<head>
	<title>SRI</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
</head>
<body ng-controller="EvaluationController">




	<div class="question">
		{{testItems[trialIndex].passage}}
	</div>
	<div class="answerSentence">
		{{questionText}}
	</div>
	<div>
		<div ng-click="answerChosen($index)"
             ng-repeat="answer in testItems[trialIndex].answers">

            <span class="selected-{{$index==selectedIndex}}" >{{answer}}</span>

        </div>
	</div>


</body>

</html>