@import "bootstrap.min.css";

/*Overall page styles*/
.container{
    margin: 20px;
    width: 100%;
}

h3{
    left: 0px;
}


li{
    list-style: none;
}

body{
    margin: 60px;
}

/*Reading List Tab*/

.readingListInfo{
    display: inline-block;
    width: 800px;
    background-color: #e1e1e8;
    padding: 20px;
    font-weight: bold;
}

.readingListInfo .pleft{
    width: 50%;
    float: left;
}

.readingListInfo .pright{
   width: 50%;
   float: right;
}

.bookRecItem{
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 760px;
    height: 200px;
}

.bookRecItem .btn{
    float: right;
}

.bookRecTextArea{
    width: 600px;
    padding: 10px;
    float: left;
}

.bookRecTextArea li{
    width: 100%;
}

.cover{
    float: left;
    padding: 5px;
}



/*Results*/

.resultsHeader{
    height: 40px;
}

.resultsHeader h4{
    float: left;
    padding-right: 20px;
}

.resultsTable td{
    padding: 5px;
}

/*Take a Quiz Tab*/


.input-block-level{
    text-align: center;
}

.commentBox{

}

.passedCheck{
    position: absolute;
    top: 100px;
    right: 100px;
}

.passedDiv li{
    padding: 10px;
}

.passedDiv input{
    width: 100%;
}

.passedDiv{
    float: left;
}

.failedDiv{
    float: left;
}

.failedDiv li{
    padding: 10px;
}

.bookRecItem-narrow{
    float: left;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    background: cornflowerblue;
    border-radius: 5px;
    box-shadow: 5px 5px 1px #888888;

    width: 60%;
}

.resultsDiv-true{
    display:inline-block;
    opacity:1.0;
}

.resultsDiv-false{
    display:none;
    opacity:0.0;
    filter:alpha(opacity=0);
}

.searchingForm-true{
    max-width: 1000px;
    display:inline-block;
    opacity:1.0;
}

.searchingForm-false{
    display:none;
    opacity:0.0;
    filter:alpha(opacity=0);
}


.quizselectionDiv-false{
    /*starting out invisible*/
    display: none;
    opacity:0.0;
    filter:alpha(opacity=0);
}

.quizselectionDiv-true{
    display:inline-block;
    opacity:1.0;

}

.searchlist{
    max-width: 1000px;
    background-color: lightgrey;
    display: inline-block;
}

.searchlist div{
    margin: 10px;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px;

}

.searchingForm-true .btn-large{
    float: right;
    margin-top: 20px;
}

.selected-true {
    background-color: green;
    color: #ffffff;
}

.selected-false {
    background-color: transparent;
}

.selected-false:hover {
    opacity: 0.8;
    background-color: #ffff00;
    color: #000000;
}

.checkboxes{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.checkboxes input{

    margin: 0px 4px 0px 20px ;
}







