@import "trials_shared.css";


.skipButton{
    margin: 10px;
    float: right;
    width: 58px;
    height: 41px;
    border-width: 0;
    background: url('../images/skip_button.png') no-repeat;
}

.skipButton:hover{
    background: url('../images/skip_button_pressed.png') no-repeat;
}

.skipP{
    float: right;
    color: #000000;
}

.skipArea{
    vertical-align: middle;
    display: inline-block;
    float: right;
}
.goonButton{
    float: left;
}
.passage{
    color: navajowhite;
    width: 80%;
    padding: 50px;
}

.question{
    color: navajowhite;
    padding-left: 50px;
}

.buttonArea{
}

.answers{
    color: navajowhite;
    padding-left: 50px;
    padding-top: 50px;
    cursor: pointer;
}

.selected-true {
}

.selected-false {
}

.selected-false:hover {

}