body{
    /*background-color: #2175c9;*/
    /*background-image:url('/images/sri_welcome_lines.png');*/
    /*background-repeat:no-repeat;*/
    /*background-size: 100%;*/
}

input{
    cursor: pointer;
}
.evalDiv{
}

.goonButton{
    width: 58px;
    height: 41px;
    border-width: 0;
    background: url('../images/next_button.png') no-repeat;
}
.goonButton:hover{
    background: url('../images/next_button_pressed.png') no-repeat;
}
.goonButton:disabled{
    background: url('../images/next_button_disabled.png') no-repeat;
}

.answers{
    list-style: none;
    cursor: pointer;
    max-width: 10px;
}

.buttonArea{
    overflow: auto;
    left: 0px;
    right: 0px;
    padding: 30px;
}

.selected-true {
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    background-color: green;
    color: #000000;
}

.selected-false {
    padding: 10px;
    display: inline-block;
    background-color: transparent;
}

.selected-false:hover {
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    opacity: 0.8;
    background-color: #ffff00;
    color: #000000;
}